.ShowLogs {
    height: 100%;
    background: url("../images/stars5.jpg") no-repeat center center;
    background-size: cover;
}

.ShowLogs .mainMenu {
    overflow-y: auto;
    display: block;
    top: 40%;
    height: 40%;
}

.ShowLogs .mainMenu .mainMenuItem {
    min-height: 3rem;
    height: auto;
    padding: 0.5rem;
}

.ShowLogs .mainMenu .mainMenuItem .address {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.ShowLogs .mainMenu .mainMenuItem .vs {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}
