@font-face {
    font-family: "Exo 2";
    src: url("./Exo2-Medium.ttf") format("truetype");
}

html {
    height: 100%;
}

@media (min-width:961px) {
    html {
        font-size: 20px;
    }
}

@media (min-width:1281px) {
    html {
        font-size: 24px;
    }
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    background: url("./images/stars5.jpg") no-repeat center center;
    background-size: cover;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    touch-action: none;
}

.App .ui .uiElement {
    color: white;
    position: absolute;
    user-select: none;
}

.App .ui .doneBox {
    right: 0.5rem;
    bottom: 0.5rem;
    width: 8rem;
    height: 3rem;
    background: #73ffbe;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.App .mainMenu {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.App .mainMenu .mainMenuItem {
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 0.5rem;
    background: rgba(115, 255, 190, 0.4);
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App .mainMenu .mainMenuItem:not(.disabled):hover {
    color: #73ffbe;
}

.App .mainTitle {
    position: absolute;
    top: 1rem;
    left: 40%;
    width: 20%;
    height: 30%;
    background: url("./newomega_trans7.png") no-repeat center center;
    background-size: cover;
}

.App .versionBox {
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.5rem;
}

.App .miniLogoBox {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: 5rem;
    height: 3rem;
    background: url("./newomega_trans7.png") no-repeat center center;
    background-size: cover;
}

.App #omegaLoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./images/stars5.jpg") no-repeat center center;
    background-size: cover;
}

.App #omegaLoadingScreen .logo {
    position: fixed;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    background: url("./newomega_trans7.png") no-repeat center center;
    background-size: 75%;
}

.App .progressOuter {
    position: fixed;
    bottom: 2rem;
    border-radius: 0.5rem;
    width: 20%;
    left: 40%;
}

.progress-line, .progress-line:before {
  border-radius: 0.5rem;
  height: 0.5rem;
  width: 100%;
  margin: 0;
}

.progress-line {
  background-color: #73ffbe;
  display: -webkit-flex;
  display: flex;
}

.progress-line:before {
  background-color: white;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

.App .omegaTip {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 4.5rem;
    color: #73ffbe;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.12);
}

.App .omegaTip .title {
    font-size: 1rem;
}

.App .omegaTip .explanation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.8);
    }
}

